<% provide(:title, 'About') %>
	<h1>About</h1>
	<p>MixEight is a website that changes the way you find new music.  We post songs, you post songs, then the community votes. You can browse songs that other people voted for and discover new artists and songs that are gaining popularity</p>
	<p>This is not a music recommendation system.  We make no suggestions for you: you and the community chooses what rises to the top</p>