<div class="center hero-unit">
	<h1>Welcome to MixEight</h1>
	
	<h2>
		This is the MixEight home page!!
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
